.logo-loader {
  width: 100px;
  /* Sesuaikan lebar dan tinggi dengan logo Anda */
  height: 100px;
  position: relative;
  animation: spin 2s linear infinite;
  /* Animasi untuk memutar gambar */
}

.logo-loader img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    /* Memutar gambar searah jarum jam sebanyak 360 derajat */
  }
}