.switch-loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch-image {
  @apply w-48 h-48 xl:w-96 xl:h-96 m-auto rounded-full;
  transform-origin: center;
  animation: breathing-animation 2s ease-in-out infinite;
}

.loading-pulse span {
  @apply animate-pulse w-2 h-2 inline-block;
  border-radius: 50%;
  margin: 0 2px;
  opacity: 0;
  font-size: 1.25em;
}

.loading-pulse span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-pulse span:nth-child(3) {
  animation-delay: 0.4s;
}

.yin-loaders {
  @apply w-24 h-24 rounded-[50%] border-t-4 border-t-white border-r-4 border-r-transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.yin-loaders::after {
  /* @apply w-12 h-12 rounded-[50%] absolute top-0 left-0 border-l-4 border-l-white border-b-4 border-b-transparent; */
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border-left: 4px solid #dd6b20;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes breathing-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dot-loader {
  width: calc(100px - 24px);
  height: 50px;
  position: relative;
  animation: flippx 2s infinite linear;
}

.dot-loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c5d1ff;
  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}

.dot-loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #c5d1ff;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

@keyframes flippx {
  0%,
  49% {
    transform: scaleX(1);
  }
  50%,
  100% {
    transform: scaleX(-1);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
