.navbar-container {
  /* @apply !px-0 w-full h-[5.5em] bg-dark-main; */
  @apply !px-0 w-full h-[5.5em] bg-black;
  @apply sticky top-0 z-50;
}

.navbar,
.navbar-scroll {
  @apply max-w-screen-xl w-full h-full m-auto;
  @apply flex flex-nowrap justify-between items-center;
  @apply px-2;

  z-index: 1000;
  transition: linear;
  transition-delay: 0.25s;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
}

.navbar {
  @apply relative h-full;
  /* @apply border-b border-b-primary; */
}

.navbar-scroll {
  @apply py-2  bg-dark-main z-[9999];
}

.navbar-title {
  /* @apply bg-lime-zest; */
  @apply bg-chr-primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-container {
  @apply flex cursor-pointer w-full sm:w-auto;
}

.small-title {
  @apply md:hidden flex justify-center w-1/2 sm:w-2/3 text-center text-3xl font-extrabold bg-chr-primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-tg-btn {
  @apply w-full text-white bg-chr-primary hover:bg-chr-secondary active:bg-chr-secondary focus:bg-chr-secondary lg:p-6;
  transition: transform 0.3s ease;
}

.nav-tg-btn:hover {
  transform: translateY(-5px);
}

/* @media (min-width: theme("screens.sm")) {
  .logo-container {
    margin-right: 0.75rem;
  }
} */

@media (min-width: theme("screens.md")) {
  .logo-container {
    @apply ml-0 mr-2;
  }
}

@media (min-width: theme("screens.2xl")) {
  .logo-container {
    margin-right: 1.25rem;
  }
}
