.navbar-container {
  /* @apply !px-0 w-full h-[5.5em] bg-dark-main; */
  @apply !px-0 w-full bg-dark-main absolute py-3;
  /* @apply fixed top-0 z-50; */
  z-index: 50;
}

.navbar-fixed {
  @apply w-full fixed top-0 bg-dark-main py-3;
  z-index: 1000;
}

.navbar,
.navbar-scroll {
  @apply max-w-screen-xl w-full h-full m-auto;
  @apply flex flex-wrap justify-between items-center;
  @apply px-2 xs:px-4;

  transition: linear;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.navbar {
  @apply relative h-full;
  /* @apply border-b border-b-primary; */
}

.navbar-scroll {
  @apply py-2  animate-fadeInDownBase;
}

.navbar-title {
  /* @apply bg-lime-zest; */
  @apply bg-chr-primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-container {
  @apply flex cursor-pointer w-full sm:w-auto;
}

.small-title {
  @apply md:hidden flex justify-center w-1/2 sm:w-2/3 text-center text-3xl font-extrabold bg-chr-primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-tg-btn {
  @apply w-full text-white bg-chr-primary hover:bg-chr-secondary active:bg-chr-secondary focus:bg-chr-secondary lg:p-6;
  transition: transform 0.3s ease;
}

.nav-tg-btn:hover {
  transform: translateY(-5px);
}

.nav-menu-btn {
  @apply bg-transparent hover:bg-transparent active:bg-transparent focus:bg-transparent text-white;
  transition: 0.3s ease-in-out;
}

@media (min-width: theme("screens.md")) {
  .logo-container {
    @apply ml-0 mr-2;
  }
}

@media (min-width: theme("screens.2xl")) {
  .logo-container {
    margin-right: 1.25rem;
  }
}
