/* .base-side-container {
  @apply w-full flex-1;
}

.left-side-container {
  @apply flex items-center justify-start;
}

.right-side-container {
  @apply items-center justify-end;
} */

.base-main-container {
  /* @apply w-full h-full min-h-screen bg-black mb-16 sm:mb-0 text-white; */
  @apply w-full h-full min-h-screen bg-black mb-0 text-white;
  /* @apply w-full h-full min-h-screen mb-0 text-white; */
}

/* .nav-anchor {
  @apply bg-white hover:bg-lime-zest font-bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-anchor-active {
  @apply text-white font-bold underline underline-offset-[0.6em] decoration-[3px] decoration-indigo-500;
} */

.nav-anchor,
.nav-anchor-active {
  @apply text-sm md:text-base lg:text-lg;
  /* @apply text-base md:text-lg lg:text-xl xl:text-2xl; */
}

.nav-anchor {
  @apply text-gray-400 hover:text-white font-semibold;
  /* @apply bg-white hover:bg-lime-zest font-bold text-lg;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.nav-anchor-active {
  @apply text-secondary font-semibold;
  /* @apply bg-lime-zest font-bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
