.app-footer {
  @apply w-full p-0 text-white bg-black relative;
}

.app-footer-wrapper {
  @apply max-w-screen-xl w-full m-auto p-4 relative;
  @apply flex flex-wrap gap-2 md:gap-0;
}

.app-footer-title {
  @apply w-full h-full mb-6;
}

.app-footer-email {
  /* @apply w-full sm:w-1/2 font-extrabold underline underline-offset-4 mb-3 sm:mb-0; */
  @apply w-full sm:w-1/2 font-extrabold mb-3 sm:mb-0;
}

.app-footer-email:hover {
  /* @apply bg-copper-shine text-lg font-semibold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.all-reserved {
  @apply w-full md:w-2/5 flex flex-wrap justify-between items-center order-2 sm:order-1 mt-8 sm:mt-0;
  position: relative;
}

.connect-mobile {
  @apply w-full h-16;
  @apply flex md:hidden justify-between items-center fixed;
  @apply bg-dark-secondary;
  bottom: 0;
  left: 0;
  z-index: 30;
}

.mobile-wrapper {
  @apply w-full h-full;
  @apply flex justify-end items-center;
  /* @apply border-t-white;
  position: relative;
  border-top: 1px solid; */
}

.app-footer-container {
  @apply w-full h-full;
  @apply bg-chr-secondary-transparent;
  /* flex flex-wrap items-center justify-evenly sm:justify-center mx-auto text-lg xs:text-xl lg:text-2xl font-extrabold text-white gap-2 p-2 relative; */
  /* @apply bg-opacity-50 bg-no-repeat bg-top bg-vector; */
}

.footer-bot-button {
  @apply w-48 rounded-lg text-white bg-chr-primary hover:bg-chr-secondary active:bg-chr-secondary focus:bg-chr-secondary;
  transition: transform 0.3s ease;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  @apply pl-0;
}

.footer-bot-button:hover {
  background: linear-gradient(#111114 0 0) padding-box,
    linear-gradient(152.64deg, #247be1 0%, #00ff47 100%) border-box;
  color: white;
  border: 2px solid transparent;
  /* transform: scale(1.1); */
}

.footer-bot-button-icon {
  @apply !animate-bounceSlow;
}
